<section class="content">
	<h2>
		Tutorial - How to start labeling images.
	</h2>
	<p>
		First thing to know, you will find a demo of the labelling tool during this tutorial :)
	</p>
	<h3>
		Step 1 - Get the images !
	</h3>
	<p>
		Normally a set of images should have already been requested by the labeling tool and all you have to do is annotate the image.
		If it's not the case click on  <button class="button" type="button">More image</button>
	</p>
	<h3>
		Step 2 - Select an object type
	</h3>
	<p>
		On the left of the labeling tool you will find a dropdown <select class="js-basic-single" style="max-width:90%;" style="width: 150px;"></select> with a list of tags that image can be annotated with.
		Select a category before drawing on the image !
	</p>
	<h3>
		Step 3 - Draw on the image
	</h3>
	<p>
		Click (or touch) on the image to start drawing the bounding box, release to end the selection, and that's it you have successfully annotated an image ! You can now go to the next image by clicking on <button class="button" type="button">Next image</button>
	</p>
	<h3>
		Additionnal notes
	</h3>
	<ol type="1">
		<li>
			On the same image multiple bounding boxes of multiple tags can be drawn.
		</li>
		<li>
			Don't worry about not finishing a set of images, just leave it there, you can come back any time to tag another set :) Images that you have already annotated will be saved.
		</li>
		<li>
			If you are not satisfied with your drawing, just click on <button class="btn-mode" type="button">Delete</button> to change mode and then click on the unwanted tag, it will delete it. Don't forget to click on <button class="btn-mode" type="button">Draw</button> to start drawing again !
		</li>
	</ol>
	<h3>
		Demo
	</h3>
</section>