<section class="content">
	<h2>
		What Next ?
	</h2>
	<h3>
		Validation process
	</h3>
	<p>
		The images that you have submitted will be validated by human hands (well, more by eyes !) and the annotation will be definitelly saved. 
	</p>
	<h3>
		Sign up !
	</h3>
	<p>
		Sign up to get access to more functionnalities !
	</p>
</section>