{% extends "@core/pages/index.html.twig" %}

{% block stylesheets_page_group %}
  {{ assets.css('css/site') | raw }}
{% endblock %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}Welcome !{% endblock %}

{% block body_matter %}
<section>
<div class="labelimg-container">
  <div class="column column-one">
    <select class="js-basic-single" id="combo" style="max-width:90%;" style="width: 150px;"></select>
    <button id="nextButton"class="button" type="button" onclick="homepage_onNextClicked()">Next image</button>
    <button id="moreButton"class="button" type="button" onclick="homepage_onMoreClicked()">More image</button>
    <button id="drawButton" class="btn-mode" type="button"onclick="homepage_onDrawClicked()">Draw</button>
    <button id="eraseButton"class="btn-mode" type="button" onclick="homepage_onEraseClicked()">Delete</button>
    <div id="imgCounter">No image</div>
  </div>
  <div class="column column-four">
    <div id="preview" class="imgcontainer" ondragstart="return false;" ondrop="return false;">
      <img id='image' unselectable='on' src='' />
    </div>
    
  </div>
</div>  
</section>
    
{% endblock %}



{% block scripts_page_group %}
  {{ assets.js('js/tools') | raw }}
{% endblock %}
{% block scripts_page %}
  {{ assets.js('js/homepage') | raw }}
{% endblock %}
