{% extends "layouts/default.html.twig" %}

{% block stylesheets_page_group %}
	{{ assets.css('css/site') | raw }}
{% endblock %}

{% set page_active = "label" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("LABEL")}}{% endblock %}

{% block page_description %}Label annotation tool{% endblock %}

{% block body_matter %}
<section>
<div class="labelimg-container">
	<div class="column column-one">
		<select class="js-basic-single" id="combo" style="max-width:90%;" style="width: 150px;"></select>
		<label class="btn-upload">
			<input type="file" name="fileupload" id="the-photo-file-field" >
			<button id="openButton" class="button" type="button">Open image</button>
		</label>
		<button id="nextButton"class="button" type="button" onclick="label_onNextClicked()">Next image</button>
		<button id="moreButton"class="button" type="button" onclick="label_onMoreClicked()">More image</button>
		<button id="drawButton" class="btn-mode" type="button"onclick="label_onDrawClicked()">Draw</button>
		<button id="eraseButton"class="btn-mode" type="button" onclick="label_onEraseClicked()">Delete</button>
		<button id="moveButton"class="btn-mode" type="button" onclick="label_onMoveClicked()">Move</button>
		<div id="imgCounter">No image</div>
		<div id="value1" max-width= "100px"></div>
		<div id="value2" max-width= "100px"></div>
		<div id="value3" max-width= "100px"></div>
		<div id="value4" max-width= "100px"></div>
		<div id="value5" max-width= "100px"></div>
		<div id="value6" max-width= "100px"></div>
		<div id="value7" max-width= "100px"></div>
		<div id="value8" max-width= "100px"></div>
		<div id="value9" max-width= "100px"></div>
	</div>
	<div class="column column-four">
		<div id="preview" class="imgcontainer" ondragstart="return false;" ondrop="return false;">
			<img id='image' unselectable='on' onresize='onImgResize()' src='' />
		</div>
		
	</div>
</div>	
</section>
{% endblock %}
{% block scripts_page_group %}
	{{ assets.js('js/label') | raw }}
{% endblock %}
	
