


.labelimg-container {
    display: flex;
	justify-content: flex-start;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imgcontainer {
    //position: relative;
}

.column {
    //flex: 1;
	
	
    
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    //box-sizing: border-box;
}

.column-one {
	//float: left;
	//width: 150px;
	//position: fixed;
	display: flex;
	flex-direction: column;
	//flex-grow: 1;
	order: 1;
	//flex: 0 0 auto;
  min-height: 500px;
}
.column-two {
	flex-direction: column;
    order: 2;
}
.column-three {
	flex-direction: row;
    order: 3;
}
.column-four {
	//flex-grow: 0;
	//margin-left:150px;
    order: 4;
	//flex: 1 1 100%;
    //min-width: 0;
    position: relative;
    width: 100%;
}
.column-four img{
	//width: 100%;
}

.imgcontainerVD {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.imgcontainerVD img{
  max-height: 150px;
  max-width: 100%;
}

.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    display: block;
}
.btn-upload .btn{
    padding: 8px 20px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    border: 0;
}
.btn-upload:hover .btn{
    padding: 8px 20px;
    background: #2e6da4;
    color: #fff;
    border: 0;
}
.select2-container--default {
    min-width: 100px;
}








.button {
  width: 100px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 30px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.button-validate {
  width: 100px;
  background: #34d960;
  background-image: -webkit-linear-gradient(top, #34d960, #2bb82d);
  background-image: -moz-linear-gradient(top, #34d960, #2bb82d);
  background-image: -ms-linear-gradient(top, #34d960, #2bb82d);
  background-image: -o-linear-gradient(top, #34d960, #2bb82d);
  background-image: linear-gradient(to bottom, #34d960, #2bb82d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 30px 15px;
  text-decoration: none;
}

.button-validate:hover {
  background: #3cfc73;
  background-image: -webkit-linear-gradient(top, #3cfc73, #39d934);
  background-image: -moz-linear-gradient(top, #3cfc73, #39d934);
  background-image: -ms-linear-gradient(top, #3cfc73, #39d934);
  background-image: -o-linear-gradient(top, #3cfc73, #39d934);
  background-image: linear-gradient(to bottom, #3cfc73, #39d934);
  text-decoration: none;
}


.button-reject {
  width: 100px;
  background: #eb7878;
  background-image: -webkit-linear-gradient(top, #eb7878, #f50808);
  background-image: -moz-linear-gradient(top, #eb7878, #f50808);
  background-image: -ms-linear-gradient(top, #eb7878, #f50808);
  background-image: -o-linear-gradient(top, #eb7878, #f50808);
  background-image: linear-gradient(to bottom, #eb7878, #f50808);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 30px 20px;
  text-decoration: none;
}

.button-reject:hover {
  background: #fc6644;
  background-image: -webkit-linear-gradient(top, #fc6644, #fa453f);
  background-image: -moz-linear-gradient(top, #fc6644, #fa453f);
  background-image: -ms-linear-gradient(top, #fc6644, #fa453f);
  background-image: -o-linear-gradient(top, #fc6644, #fa453f);
  background-image: linear-gradient(to bottom, #fc6644, #fa453f);
  text-decoration: none;
}

.button-signout {
  width: 100px;
  background: #ad34d9;
  background-image: -webkit-linear-gradient(top, #ad34d9, #46195c);
  background-image: -moz-linear-gradient(top, #ad34d9, #46195c);
  background-image: -ms-linear-gradient(top, #ad34d9, #46195c);
  background-image: -o-linear-gradient(top, #ad34d9, #46195c);
  background-image: linear-gradient(to bottom, #ad34d9, #46195c);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 30px 20px;
  text-decoration: none;
}

.button-signout:hover {
  background: #e627e6;
  background-image: -webkit-linear-gradient(top, #e627e6, #ad56c7);
  background-image: -moz-linear-gradient(top, #e627e6, #ad56c7);
  background-image: -ms-linear-gradient(top, #e627e6, #ad56c7);
  background-image: -o-linear-gradient(top, #e627e6, #ad56c7);
  background-image: linear-gradient(to bottom, #e627e6, #ad56c7);
  text-decoration: none;
}


.button-nav {
  width: 150px;
  background: #9eacb5;
  background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  background-image: -o-linear-gradient(top, #9eacb5, #333638);
  background-image: linear-gradient(to bottom, #9eacb5, #333638);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 30px 20px;
  text-decoration: none;
}

.button-nav:hover {
  background: #bbc3c9;
  background-image: -webkit-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -moz-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -ms-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -o-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: linear-gradient(to bottom, #bbc3c9, #929aa1);
  text-decoration: none;
}




.btn-mode {
  width: 100px;
  background: #bbc3c9;
  background-image: -webkit-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -moz-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -ms-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -o-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: linear-gradient(to bottom, #bbc3c9, #929aa1);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-mode:hover {
  border: solid #9eacb5 2px;
  //background: #9eacb5;
  //background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  //background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  //background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  //background-image: -o-linear-gradient(top, #9eacb5, #333638);
  //background-image: linear-gradient(to bottom, #9eacb5, #333638);
  //text-decoration: none;
}

.btn-mode.selected {
  background: #9eacb5;
  background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  background-image: -o-linear-gradient(top, #9eacb5, #333638);
  background-image: linear-gradient(to bottom, #9eacb5, #333638);
  text-decoration: none;
}


.btn-mode2 {
  width: 100px;
  background: #9eacb5;
  background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  background-image: -o-linear-gradient(top, #9eacb5, #333638);
  background-image: linear-gradient(to bottom, #9eacb5, #333638);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-mode2:hover {
  background: #bbc3c9;
  background-image: -webkit-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -moz-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -ms-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -o-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: linear-gradient(to bottom, #bbc3c9, #929aa1);
  text-decoration: none;
}

.small-btn {
  width: 45px;
  background: #9eacb5;
  background-image: -webkit-linear-gradient(top, #9eacb5, #333638);
  background-image: -moz-linear-gradient(top, #9eacb5, #333638);
  background-image: -ms-linear-gradient(top, #9eacb5, #333638);
  background-image: -o-linear-gradient(top, #9eacb5, #333638);
  background-image: linear-gradient(to bottom, #9eacb5, #333638);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  //padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.small-btn:hover {
  background: #bbc3c9;
  background-image: -webkit-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -moz-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -ms-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: -o-linear-gradient(top, #bbc3c9, #929aa1);
  background-image: linear-gradient(to bottom, #bbc3c9, #929aa1);
  text-decoration: none;
}


.js-basic-single{
	width:100px;
}
.select2-container--default .select2-selection--single{
    //font-size: 0.5em;  
}


.rectangle {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
}
.simpleHover {
  box-shadow:0 0 15px 3px white inset ;
  text-shadow: 0 0 3px white;
}
.green {
	box-shadow:0 0 0px 5px green ;
}
.greenHovered {
  box-shadow:0 0 15px 3px white inset,0 0 0px 5px green ;
  text-shadow: 0 0 3px white;
}
.red {
  box-shadow:0 0 0px 5px red ;
}
.redHovered {
  box-shadow:0 0 15px 3px white inset,0 0 0px 5px red ;
  text-shadow: 0 0 3px white;
}
.rectangleText {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position:relative;
}

.rectangleView {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  position: absolute;
  pointer-events:none;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  //padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}
.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.context-menu__title{
  display: block;
  padding: 6px 0px 0px 6px;
}
.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.info-box-text{
  font-size: -webkit-xxx-large;
}

.btn-signup {
  background: #34d94f;
  background-image: -webkit-linear-gradient(top, #34d94f, #1dab5a);
  background-image: -moz-linear-gradient(top, #34d94f, #1dab5a);
  background-image: -ms-linear-gradient(top, #34d94f, #1dab5a);
  background-image: -o-linear-gradient(top, #34d94f, #1dab5a);
  background-image: linear-gradient(to bottom, #34d94f, #1dab5a);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn-signup:hover {
  background: #3cfa9e;
  background-image: -webkit-linear-gradient(top, #3cfa9e, #34d94f);
  background-image: -moz-linear-gradient(top, #3cfa9e, #34d94f);
  background-image: -ms-linear-gradient(top, #3cfa9e, #34d94f);
  background-image: -o-linear-gradient(top, #3cfa9e, #34d94f);
  background-image: linear-gradient(to bottom, #3cfa9e, #34d94f);
  text-decoration: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: -webkit-center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.navbar-nav{
    display: flex;
    align-items: center;
}